@media (max-width: 1298px) {
    .video__wrapper {
        display: none !important;
    }

    .index__info-block__wrapper {
        position: sticky !important;
        top: var(--symbol-margin) !important;
        background-color: var(--index-bgc) !important;
    }

    .index__info-block__wrapper::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(-1 * (var(--symbol-margin)));
        left: 0;
        width: 100%;
        height: var(--symbol-margin);
        background-color: var(--index-bgc);
    }

    .chart {
        box-shadow: 0 0 var(--chart-box-shadow-size) var(--chart-box-shadow-color);
    }
}

@media (min-width: 1298px) {
    :root {
        --paragraph_margin: 0 !important;
    }
}

@media (max-height: calc(480px + 320px + 15px * 2)) { // --video-height + --chart-height + (--symbol-margin * 2)
    .video__wrapper {
        display: none !important;
    }
}