// HTML
@media (max-width: 425px) {
    html {
        font-size: 12px !important;
    }
}

@media (min-width: 426px) and (max-width: 600px) {
    html {
        font-size: 13px !important;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    html {
        font-size: 14px !important;
    }
}