// обнуление стилей
@import 'null-style';
// переменные
@import '../source/var';
// шаблоны
@import '../source/templ';
// миксины
@import '../source/mixin';
// медиа стили
@import "media-style";

html {
    font-size: 16px;
}

.index-container {
    min-width: 100vw;
    min-height: 100vh;

    .index-content {
        width: 100%;
        height: 100%;

        .video__wrapper {
            width: 640px;
            height: auto;
            position: relative;
            transform: scaleX(-1);

            .video {
                display: block;
                width: 100%;
                height: auto;
                outline: 1px solid #000;
            }

            .iris-position-dot {
                display: block;
                position: absolute;
                width: $iris-position-dot;
                height: $iris-position-dot;
                top: 0;
                left: 0;
                background-color: #fff;
                border-radius: 50%;
                z-index: 10;
            }

            .iris-position-center {
                width: $iris-position-center;
                height: $iris-position-center;
                background-color: red;
            }
        }

        .video__wrapper_margin {
            margin: 0 auto;
        }
    }
}