@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@media (max-width: 425px) {
  html {
    font-size: 12px !important;
  }
}
@media (min-width: 426px) and (max-width: 600px) {
  html {
    font-size: 13px !important;
  }
}
@media (min-width: 601px) and (max-width: 1300px) {
  html {
    font-size: 14px !important;
  }
}
html {
  font-size: 16px;
}

.index-container {
  min-width: 100vw;
  min-height: 100vh;
}
.index-container .index-content {
  width: 100%;
  height: 100%;
}
.index-container .index-content .video__wrapper {
  width: 640px;
  height: auto;
  position: relative;
  transform: scaleX(-1);
}
.index-container .index-content .video__wrapper .video {
  display: block;
  width: 100%;
  height: auto;
  outline: 1px solid #000;
}
.index-container .index-content .video__wrapper .iris-pos-dot {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}
.index-container .index-content .video__wrapper .iris-pos-center {
  background-color: red;
  z-index: 3;
}
.index-container .index-content .video__wrapper .eyes-pos-center {
  background-color: blue;
  z-index: 4;
}
.index-container .index-content .index__horizont-button {
  display: block;
  width: 200px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 1rem;
  text-transform: uppercase;
}
.index-container .index-content .index__horizont-point {
  display: dlock;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
}
.index-container .index-content .horizont-button_margin {
  margin: 0 auto;
}
.index-container .index-content .video__wrapper_margin {
  margin: 0 auto;
}