@import 'null-style';
@import '../sourse/media-style';
// template styles
@import '../sourse/templ';

:root {
    --position-dot: 3px;
    --dot-color: #fff;
    --symbol-size: calc(54px + 10*(100vw - 320px)/(1366 - 320));
    --symbol-max-size: 64px;
    --symbol-color: #ccc;
    --symbols-duration: .5s;
    --chart-height: 320px; // == html chat height
    --video-shroud: .5;
}

html {
    font-size: 16px;
}

.index-container {
    width: 100%;
    min-height: 100vh;
    background-color: #333;
    position: relative;

    .lock-symbol {
        @extend %note-images-set;
        transition-duration: var(--symbols-duration);

        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 10;
    }

    .lock-active {
        background-image: url('../img/lock/lock.svg');
    }

    .unlock-active {
        background-image: url('../img/lock/unlock.svg');
    }

    .index-content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

        .index__info-block__wrapper {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            background-color: transparent;
            color: #000;
            line-height: 40px;
            font-size: 1.5rem;

            .video__wrapper {
                display: block;
                width: 640px;
                height: auto;
                transform: scaleX(-1);
                position: relative;

                .video {
                    display: block;
                    width: 100%;
                    height: auto;
                }

                .video-shroud {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: var(--video-shroud);
                }

                .face-pos-dot {
                    display: block;
                    position: absolute;
                    width: var(--position-dot);
                    height: var(--position-dot);
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    z-index: 2;
                }

                .face-color-style {
                    background-color: var(--dot-color);
                    z-index: 4;
                }
            }

            .video__wrapper_margin {
                margin: 0 auto;
            }

            .chart {
                display: block;
                width: 640px;
                height: var(--chart-height);
            }
        }

        .info-block_margin {
            margin-bottom: 4vh;
        }

        .index__paragraph {
            display: block;
            width: 30%;
            width: 35vw;
            color: #fff;
            font-size: 1.3rem;
            line-height: 1.5rem;
        }

        .paragraph_padding {
            padding: 0 calc(0px + 45*(100vw - 320px)/(1366 - 320));
        }
    }

    .index-content_padding {
        padding: 5% 0;
    }
}

.sticky-block {
    position: sticky;
    top: 0;
}