// обнуление стилей
@import 'null-style';
// переменные
@import '../source/var';
// шаблоны
@import '../source/templ';
// миксины
@import '../source/mixin';
// медиа стили
@import "media-style";

html {
    font-size: 16px;
}

.index-container {
    width: 100%;
    min-height: 100vh;
    background-color: #333;

    .index-content {
        width: 100%;
        height: 100%;

        .video__wrapper {
            width: 640px;
            height: auto;
            position: relative;
            transform: scaleX(-1);

            .video {
                display: none;
                width: 100%;
                height: auto;
                outline: 1px solid #000;
            }

            .iris-pos-dot {
                display: block;
                position: absolute;
                width: $position-dot;
                height: $position-dot;
                top: 0;
                left: 0;
                background-color: #fff;
                border-radius: 50%;
                z-index: 2;
            }

            .eyes-red-style {
                background-color: red;
                z-index: 4;
            }

            .eyes-blue-style {
                background-color: blue;
                z-index: 3;
            }
        }

        .video__wrapper_margin {
            margin: 0 auto;
        }

        .index__paragraph {
            display: block;
            width: 20vw;
            color: #fff;
            font-size: 1.3rem;
            line-height: 1.5rem;
        }

        .index__paragraph_margin {
            margin: 0 auto;
        }
    }

    .index-content_padding {
        padding: 5% 0;
    }
}