@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.index-container .index__lock-symbol__wrapper .lock-symbol, .index-container .index__eye-symbol {
  display: block;
  width: var(--symbol-size);
  max-width: var(--symbol-max-size);
  height: var(--symbol-size);
  max-height: var(--symbol-max-size);
  background-color: var(--symbol-color);
  border-radius: 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  --position-dot: 3px;
  --symbol-size: calc(54px + 10*(100vw - 320px)/(1366 - 320));
  --symbol-max-size: 64px;
  --symbol-color: #ccc;
  --symbols-duration: .5s;
  --chart-height: 320px;
}

html {
  font-size: 16px;
}

.index-container {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  position: relative;
}
.index-container .index__eye-symbol {
  transition-duration: var(--symbols-duration);
  position: fixed;
  top: 10px;
  right: 10px;
}
.index-container .eye-symbol-watch {
  background-image: url("../img/eye/watch.svg");
}
.index-container .eye-symbol-unwatch {
  background-image: url("../img/eye/unwatch.svg");
}
.index-container .index-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.index-container .index-content .index__info-block {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #000;
  line-height: 40px;
  font-size: 1.5rem;
}
.index-container .index-content .index__info-block .video__wrapper {
  display: block;
  width: 640px;
  height: auto;
  transform: scaleX(-1);
  position: relative;
}
.index-container .index-content .index__info-block .video__wrapper .video {
  display: block;
  width: 100%;
  height: auto;
}
.index-container .index-content .index__info-block .video__wrapper .face-pos-dot {
  display: block;
  position: absolute;
  width: var(--position-dot);
  height: var(--position-dot);
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}
.index-container .index-content .index__info-block .video__wrapper .face-red-style {
  background-color: red;
  z-index: 4;
}
.index-container .index-content .index__info-block .video__wrapper_margin {
  margin: 0 auto;
}
.index-container .index-content .index__info-block .chart {
  display: block;
  width: 640px;
  height: var(--chart-height);
}
.index-container .index-content .index__paragraph {
  display: block;
  width: 30%;
  width: 35vw;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.index-container .index-content_padding {
  padding: 5% 0;
}
.index-container .index__lock-symbol__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition-duration: var(--symbols-duration);
}
.index-container .index__lock-symbol__wrapper .lock-active {
  background-image: url("../img/lock/lock.svg");
}
.index-container .index__lock-symbol__wrapper .unlock-active {
  background-image: url("../img/lock/unlock.svg");
}