@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  --index-min-width: 360px;
  --max-video-width: 640px;
  --position-dot: 3px;
  --dot-color: #fff;
  --symbol-size: calc(54px + 10*(100vw - 320px)/(1366 - 320));
  --symbol-max-size: 64px;
  --symbol-color: #ccc;
  --symbols-duration: .5s;
  --chart-height: 320px;
  --video-shroud: .5;
}

@media (min-width: 1366px) {
  .index-content_padding {
    padding: 100px 45px !important;
  }
}
@media (max-width: 710px) {
  .video__wrapper {
    -webkit-transform: scale(-0.52344, 0.52344) !important;
            transform: scale(-0.52344, 0.52344) !important;
  }
}
@media (min-width: 425px) and (max-width: 710px) {
  .video__wrapper {
    left: 60px !important;
  }

  .video-shroud {
    margin-left: 130px !important;
    -webkit-transform: scaleX(1.68) !important;
            transform: scaleX(1.68) !important;
  }
}
@media (max-width: 424px) {
  .video__wrapper {
    left: 80px !important;
  }

  .video-shroud {
    margin-left: 153px !important;
    -webkit-transform: scaleX(1.915) !important;
            transform: scaleX(1.915) !important;
  }
}
@media (max-width: 320px) {
  .video-shroud {
    margin-left: 150px !important;
    -webkit-transform: scaleX(1.885) !important;
            transform: scaleX(1.885) !important;
  }
}
.index-container .lock-symbol {
  display: block;
  width: var(--symbol-size);
  max-width: var(--symbol-max-size);
  height: var(--symbol-size);
  max-height: var(--symbol-max-size);
  background-color: var(--symbol-color);
  border-radius: 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  font-size: 16px;
}

.index-container {
  width: 100%;
  min-width: var(--index-min-width);
  min-height: 100vh;
  background-color: #333;
  position: relative;
}
.index-container .lock-symbol {
  -webkit-transition-duration: var(--symbols-duration);
          transition-duration: var(--symbols-duration);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.index-container .lock-active {
  background-image: url("../img/lock/lock.svg");
}
.index-container .unlock-active {
  background-image: url("../img/lock/unlock.svg");
}
.index-container .index-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.index-container .index-content .index__info-block__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  max-width: var(--max-video-width);
  height: auto;
  background-color: transparent;
  color: #000;
  line-height: 40px;
  font-size: 1.5rem;
}
.index-container .index-content .index__info-block__wrapper .video__wrapper {
  display: block;
  width: 100%;
  max-width: var(--max-video-width);
  height: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: relative;
}
.index-container .index-content .index__info-block__wrapper .video__wrapper .video {
  display: block;
  width: var(--max-video-width);
  height: auto;
  position: relative;
}
.index-container .index-content .index__info-block__wrapper .video__wrapper .video-shroud {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: var(--video-shroud);
}
.index-container .index-content .index__info-block__wrapper .video__wrapper .face-pos-dot {
  display: block;
  position: absolute;
  width: var(--position-dot);
  height: var(--position-dot);
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 2;
}
.index-container .index-content .index__info-block__wrapper .video__wrapper .face-color-style {
  background-color: var(--dot-color);
  z-index: 4;
}
.index-container .index-content .index__info-block__wrapper .chart {
  display: block;
  width: 100%;
  max-width: var(--max-video-width);
  height: var(--chart-height);
}
.index-container .index-content .info-block_margin {
  margin-bottom: 4vh;
}
.index-container .index-content .index__paragraph {
  display: block;
  width: auto;
  max-width: var(--max-video-width);
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.index-container .index-content_padding {
  padding: 5% calc(10px + 45*(100vw - 320px)/(1366 - 320));
}

.sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}